<template name="match">
	<h1>FIGHT</h1>
	<div id="match">
		<div id="player1" class="challenger">
			<h2>{{matches.challenger}}</h2>
			<figure style="background-color: {{matches.challengerColor}}">
				<img src="http://www.maartenbuwalda.com/images/avatar.png" alt="ape">
			</figure>
			<p>Points: {{matches.challengerPoints}} <span>/ 50</span></p>
		</div>
		<h2>VS.</h2>
		<div id="player2" class="challenger">
			<h2>{{matches.challenged}}</h2>
			<figure style="background-color: {{matches.challengedColor}}">
				<img src="http://www.maartenbuwalda.com/images/avatar.png" alt="ape">
			</figure>
			<p>Points: {{matches.challengedPoints}} <span>/ 50</span></p>
		</div>
		<a class="fight-btn btn" id="hit-btn">HIT</a>
	</div>
</template>