<template name="userItem">
	<div class="user">
		<div class="user-content">
			<div id="user-info">
				<h3>{{username}}</h3>
				<p>{{challengers.wins}} <span>{{challengers.losses}}</span></p>
			</div>
			<figure style="background-color: {{profile.color}}">
				<img src="http://www.maartenbuwalda.com/images/avatar.png" alt="ape">
			</figure>
				{{#if checkUser}}
				<a class="discuss btn btn-default self">This is you</a>
				{{else}}
				{{#if checkOwnChallenge}}
				<a class="discuss btn btn-default cancel" id="cancel-btn">Cancel</a>
				{{else}}
				{{#if checkEnemyChallenge}}
				<a class="discuss btn btn-default accept" id="accept-btn">Accept</a>
				{{else}}
				<a class="discuss btn btn-default" id="challenge-btn">Challenge</a>
				{{/if}}
				{{/if}}
			{{/if}}
		</div>
	</div>
</template>