body {
	background-image: url('http://www.maartenbuwalda.com/images/bg-gorilla.jpg');
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
}

h1, h2, h3 {
	text-align: center;
	color: $red;
}

h2 {
	font-size: 20px;
}

h3 {
	font-size: 15px;
}