.users {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
	flex-direction: row;
	flex-wrap: nowrap;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: flex-start;
  	justify-content: flex-start;

	.user {
		width: 12.5%;
		overflow: hidden;

		h3 {
			width: 100%;
			text-align: center;
			white-space: nowrap;
		    overflow: hidden;
		    display:inline-block;
			text-overflow: ellipsis;
			margin-bottom: 0;
		}

		p {
			color: $green;
			text-align: center;

			span {
				color: $red;

				&:before {
					content:" - ";
					color: $darkGrey;
				}
			}
		}

		.btn {
			display: block;
			width: 80%;
			margin: auto;

			&.self {
				background-color: #d7d7d7;
			}

			&.accept {
				background-color: $green;
			}

			&.cancel {
				background-color: $red;
			}
		}

		figure {
			display: block;
			margin: auto;
			width: 80%;
			overflow: hidden;

			img {
				display: block;
				width: 100%;
				border: 1px solid $lightGrey;
			}
		}
	}
}